
%h2 Secrets:
%hr
#search{ :style => "float: right; margin: -10px 100px 0 0;" }
  - form_for :search, @search, :url => search_secrets_path, :html => {:method => :get} do |f|
    %p= f.label :content_contains, "Find secrets containing:"
    %p= f.text_field :content_contains
    %p= f.submit "Search", :name=> nil
- # :method => :get

- @secrets.each do |s|
  %p{ :style => "display: inline;" }= s.content
  %p{ :style => "display: inline; font-size: 10px;" }= link_to "(remove)", secret_path( s ), :confirm => "Are you sure Mr. Anderson?", :method => :delete  
  %p{ :style => "display: inline; font-size: 10px;" }= link_to "(comment)", new_secret_comment_path( s )
  %p
  - s.comments.each do |c|
    %p{ :style => "margin: 0 0 0 20px; font-size: 12px; display: inline; color: #ffffff;" }= c.user.username 
    %p{ :style => "font-size: 12px; display: inline;" }= ": " + c.content
    %p{ :style => "margin: 0 0 0 10px; display: inline; font-size: 10px;" }= "(" + c.vote_count.to_s + " votes "
    %p{ :style => "display: inline; font-size: 10px;" }= link_to "\\/ down", comment_vote_down_path( c )
    %p{ :style => "display: inline; font-size: 10px;" }= link_to " /\\ bump", comment_vote_up_path( c )
    %p{ :style => "display: inline; font-size: 10px;" }= ")"
    %p 
%p
%br
=will_paginate @secrets
%br
%p= link_to "(+)", new_secret_path
%p
%p= link_to "Return to the origin", :root
