
%h2 Secrets:
%hr
#search{ :style => "float: right; margin: -10px 100px 0 0;" }
  - form_for :search, @search, :url => search_secrets_path, :html => {:method => :get} do |f|
    %p= f.label :content_contains, "Find secrets containing:"
    %p= f.text_field :content_contains
    %p= f.submit "Search", :name=> nil
- # :method => :get

- @secrets.each do |s|
  %p{ :style => "display: inline;" }= s.content
  %p{ :style => "display: inline; font-size: 10px;" }= link_to "(remove)", secret_path( s ), :confirm => "Are you sure Mr. Anderson?", :method => :delete  
  %p
%p
%br
=will_paginate @secrets
%br
%p= link_to "(+)", new_secret_path
%p
%p= link_to "Return to the origin", :root
