=render "shared/navigation"
%h2 Add a secret
- if @secret.errors.any?
  #errorExplanation
    %h2
      = "Encountered some trmendous errors (" + @secret.errors.count.to_s + "):"
    %ul
      - @secret.errors.full_messages.each do |msg|
        %li= msg
%p
- form_for @secret do |f|
  %p= f.label :content, "Content"
  %p= f.text_area :content
  %p= f.submit "Add"

